{:paths ["."]
 :tasks
 {update
  {:doc "Update Open color from upstream"
   :requires ([generate :as generate])
   :task (do
           (println "Updating ...")
           (generate/-main)
           (println "Updated!"))}}}
